<div id="<%= dom_id project %>">
  <p>
    <strong>Project name:</strong>
    <%= project.project_name %>
  </p>
    <strong>Project Image:</strong>
    <%= project.image_url %>
  </p>

  <p>
    <strong>Project description:</strong>
    <%= project.project_description %>
  </p>

  <p>
    <strong>Project Contract:</strong>
    <%= project.minting_contract_address %>
  </p>
  <p>
    <strong>Project Website:</strong>
    <%= project.project_website_url %>
  </p>
  <p>
    <strong>Project Discord:</strong>
    <%= project.project_discord_url %>
  </p>
  <p>
    <strong>Project Owner:</strong>
    <%= project.user.email %>
  </p>
  <p>
    <strong>Project Blockchain:</strong>
    <%= project.project_blockchain %>
  </p>

</div>
